.custom-navbar {
  font-family: 'Montserrat', sans-serif;
  background-color: #313233;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #EEEEEE;
}

.navbar-brand, .nav-link {
  color: #EEEEEE !important;
  font-family: 'Montserrat', sans-serif;
}

.nav-link.active {
  color: #535353 !important;
}

.nav-link:hover {
  color: #999999 !important;
  cursor: pointer;
}

.navbar-toggler {
  border-color: #EEEEEE;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%288, 8, 8, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

#logo{
  width: 5vh;
  height: 5vh;
  border-radius: 10px;
}

.dropdown-item{
  cursor: pointer;
  padding: 0;
  margin: 0;
  color: whitesmoke;
  padding: 1vh;
}

.dropdown-item:active{
  background-color: red;
}

.dropdown-item:hover{
  background-color: rgb(220, 53, 69);
}

.dropdown-menu{
  background-color: #535353;

}
