<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/fooldal">Car Merchants' Site</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav me-auto">
        <a class="nav-link active" aria-current="page" routerLink="/fooldal">Home</a>
        <a class="nav-link" routerLink="gyakori-autok">Gyakori autók</a>
        <a class="nav-link" routerLink="hirdetes-list">Elérhető hirdetések</a>
        <a class="nav-link" routerLink="forum">Fórum</a>
      </div>
      <div class="navbar-nav ms-auto">
        <ng-container *ngIf="!isLoggedIn; else loggedInTemplate">
          <a class="nav-link" routerLink="login">Bejelentkezés</a>
          <a class="nav-link" routerLink="register">Regisztráció</a>
        </ng-container>
        <ng-template #loggedInTemplate>
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ userName }} Profil
            </a>
            <ul class="dropdown-menu" aria-labelledby="userDropdown">
              <li><a class="dropdown-item" routerLink="profil">Profil</a></li>
              <li><a class="dropdown-item" (click)="logout()">Kijelentkezés</a></li>
            </ul>
          </div>
          <a class="nav-link" routerLink="create-hirdetes">Hirdetés létrehozása</a>
        </ng-template>
      </div>
    </div>
  </div>
</nav>