<div id="registerPage">
  <div id="registerPanel">
    <h1 id="regpanelTitle">Regisztráció</h1>
    <form id="registerForm" (ngSubmit)="onSubmit()">
      <!-- Felhasználónév -->
      <span class="error" *ngIf="usernameError">{{ usernameError }}</span><br>
      <input class="registerInputs" type="text" placeholder="Felhasználónév" [(ngModel)]="username" name="username"><br>

      <!-- E-mail -->
      <span class="error" *ngIf="emailError">{{ emailError }}</span><br>
      <input class="registerInputs" type="email" placeholder="E-mail" [(ngModel)]="email" name="email"><br>

      <!-- Telefonszám -->
      <span class="error" *ngIf="phoneError">{{ phoneError }}</span><br>
      <input class="registerInputs" type="tel" placeholder="Telefonszám (+36...)" [(ngModel)]="phone" name="phone"><br>

      <!-- Jelszó -->
      <span class="error" *ngIf="passwordError">{{ passwordError }}</span><br>
      <input class="registerInputs" type="password" placeholder="Jelszó" [(ngModel)]="password" name="password"><br>


      <!-- Jelszó mégegyszer -->
      <span class="error" *ngIf="confirmPasswordError">{{ confirmPasswordError }}</span><br>
      <input class="registerInputs" type="password" placeholder="Jelszó mégegyszer" [(ngModel)]="confirmPassword" name="confirmPassword"><br>

      <!-- <input type="button" id="registerSubmit" value="Regisztráció"> -->
      <input type="submit" value="Regisztráció" id = "registerSubmit">
      <p id="registerToLogin">Már regisztráltál? <a routerLink="/login" id="regToLogLink">Jelentkezz be!</a></p>
    </form>
  </div>
</div>
