<div id="registerPage">
  <div id="registerPanel">
    <h1 id="regpanelTitle">Regisztráció</h1>
    <form id="registerForm" (ngSubmit)="onSubmit()">
      
      <!-- Felhasználónév -->
      <div class="form-group">
        <span class="error" *ngIf="usernameError">{{ usernameError }}</span>
        <label for="username">Felhasználónév (5-15 karakter)</label>
        <input class="registerInputs" type="text" id="username" [(ngModel)]="username" name="username" required minlength="5" maxlength="15">
      </div>

      <!-- E-mail -->
      <div class="form-group">
        <span class="error" *ngIf="emailError">{{ emailError }}</span>
        <label for="email">E-mail</label>
        <input class="registerInputs" type="email" id="email" [(ngModel)]="email" name="email">
      </div>

      <!-- Telefonszám -->
      <div class="form-group">
        <span class="error" *ngIf="phoneError">{{ phoneError }}</span>
        <label for="phone">Telefonszám (+36...)</label>
        <input class="registerInputs" type="tel" id="phone" [(ngModel)]="phone" name="phone">
      </div>

      <!-- Jelszó -->
      <div class="form-group">
        <span class="error" *ngIf="passwordError">{{ passwordError }}</span>
        <label for="password">Jelszó</label>
        <input class="registerInputs" type="password" id="password" [(ngModel)]="password" name="password">
      </div>

      <!-- Jelszó mégegyszer -->
      <div class="form-group">
        <span class="error" *ngIf="confirmPasswordError">{{ confirmPasswordError }}</span>
        <label for="confirmPassword">Jelszó mégegyszer</label>
        <input class="registerInputs" type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword">
      </div>

      <input type="submit" value="Regisztráció" id="registerSubmit">
      <p id="registerToLogin">Már regisztráltál? <a routerLink="/login" id="regToLogLink">Jelentkezz be!</a></p>
    </form>
  </div>
</div>