#registerPanel {
  border: 0.3vw solid rgb(34, 34, 34);
  border-radius: 30px;
  width: 40%;
  padding: 0.8vw 2.5vw 2vw 2.5vw;
  background-color: #4d4d4d;
  font-family: 'Montserrat', sans-serif;
  color: #EEEEEE;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#registerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-group {
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  width: 100%; 
  margin-bottom: 15px; 
}

.form-group label {
  width: 40%; 
  margin-right: 10px; 
  color: #ffffff; 
}

.registerInputs {
  border-radius: 1vh;
  border: #363636 0.2vw solid;
  width: 60%; 
  height: 2vw;
  padding: 0.4vw;
}

#regpanelTitle {
  max-width: 55%;
  margin: auto;
  padding-top: 1vw;
  padding-bottom: 1vw;
  position: relative;
  text-align: center;
}

#registerSubmit {
  background-color: #292929;
  color: #EEEEEE;
  border-radius: 30px;
  border: #242424 0.2vw solid;
  width: 10vw;
  height: 2vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

#errorMessage {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}

#registerToLogin a {
  margin-top: 1vw;
  color: #e4e4e4;
}

#registerToLogin a:hover {
  color: #a8a8a8;
}


@media (max-width: 768px) {
  #registerPanel {
      width: 90%;
      padding: 2vw;
  }

  .registerInputs {
      width: 80%;
      height: 5vw;
      padding: 1vw;
  }

  #registerSubmit {
      width: 50%;
      height: 5vw;
  }

  #registerToLogin {
      margin-top: 2vw; 
  }
}

@media (max-width: 480px) {
  #registerPanel {
      width: 95%;
      padding: 3vw;
  }

  .registerInputs {
      width: 90%;
      height: 6vw;
      padding: 1.5vw;
  }

  #registerSubmit {
      width: 60%;
      height: 6vw;
  }

  #registerToLogin {
      margin-top: 3vw;
  }
}