<div class="gyik-section">
  <h2>Adásvételi Szerződés Minta</h2>
  <h3>Fontos tudnivalók az adásvételi szerződésről:</h3>
  <ul>
    <li><strong>Példányszám:</strong> Négy eredeti példány szükséges; kettő az eladónál, kettő a vevőnél marad.</li>
    <li><strong>Kitöltés:</strong> Minden adatot pontosan és olvashatóan kell kitölteni, különös tekintettel a jármű és a felek adataira.</li>
    <li><strong>Aláírás:</strong> Minden példányt mindkét félnek alá kell írnia.</li>
  </ul>

  <h3>Az adásvételi szerződés tartalma:</h3>
  <ul>
    <li><strong>Felek adatai:</strong> Az eladó és a vevő neve, címe, telefonszáma, és személyazonosító adatai.</li>
    <li><strong>Jármű adatai:</strong> A jármű típusa, gyártmánya, évjárata, rendszáma, alvázszáma és egyéb azonosító adatok.</li>
    <li><strong>Ár:</strong> A jármű vételára, valamint a fizetés módja és határideje.</li>
    <li><strong>Átadás-átvétel:</strong> A jármű átadásának időpontja és helyszíne.</li>
    <li><strong>Nyilatkozatok:</strong> Az eladó nyilatkozata a jármű állapotáról, terhekről, és arról, hogy a jármű nem lopott.</li>
  </ul>

  <h3>Kitöltés lépései:</h3>
  <ol>
    <li><strong>Felek azonosítása:</strong> Ellenőrizd a felek személyazonosító okmányait, és rögzítsd az adatokat.</li>
    <li><strong>Jármű adatai:</strong> Töltsd ki a jármű adatait a szerződésben, ügyelve a pontos írásmódra.</li>
    <li><strong>Vételár megállapítása:</strong> Határozzátok meg a vételárat, és rögzítsétek a fizetés módját.</li>
    <li><strong>Aláírás:</strong> Minden példányt alá kell írni, és mindkét félnek meg kell őriznie a saját példányát.</li>
  </ol>

  <h3>Letölthető adásvételi szerződés minta:</h3>
    <a href="https://www.netrisk.hu/szakertoi-informaciok/dokumentumtar">Gépjármű adásvételi szerződés - Netrisk</a>
    <br><br>
  <h3>Gyakori kérdések:</h3>
  <ul>
    <li><strong>Mi történik, ha az adásvételi szerződést nem írom alá?</strong> Az adásvételi szerződés aláírása nélkül a tranzakció nem érvényes.</li>
    <li><strong>Lehet-e módosítani az adásvételi szerződést?</strong> Igen, a szerződés módosítható, de mindkét félnek egyetértenie kell a változtatásokkal.</li>
    <li><strong>Mi a teendő, ha az eladó nem tudja bemutatni a jármű forgalmi engedélyét?</strong> Az eladó köteles bemutatni a forgalmi engedélyt, ha nem tudja, akkor a szerződés nem érvényes.</li>
    <li><strong>Hogyan lehet bizonyítani a jármű állapotát az adásvételi szerződésben?</strong> A jármű állapotát a szerződésben nyilatkozat formájában kell rögzíteni, és érdemes mellékelni fényképeket is.</li>
  </ul>
</div>