.carousel {
    width: 50vw;
    height: calc(75vw * 9 / 16);
    margin: auto;
    padding-top: 5vw;
    border-radius: 3vh;
    
  }
  
  .carousel-inner img {
    width: 32vw;
    height: 30vw;
    object-fit: fill;
    border-radius: 1.5vh;
  }

h1{
  text-align: center;
  padding-top: 1vw;
  font-size: 40pt; 
  color: whitesmoke;
}

.tartalom{
  max-width: 75%;
  display: block;
  margin: auto;
  padding-bottom: 3vh;
  padding-top: 3vh;
  padding-left: 3vw;
  padding-right: 3vw;
  border-radius: 3vh;
  font-weight: 500;
  font-size: x-large;
  text-align: justify;
  color: rgb(43, 43, 43);
  background-color: rgba(212, 212, 212, 0.74);

}