<h1 id="udvozlo" class="szoveg">Üdvözöljük a CMS oldalán!</h1>

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/img/ProjectImg/image1.jpg" class="d-block w-100" alt="Image 1">
    </div>
    <div class="carousel-item">
      <img src="assets/img/ProjectImg/image2.jpg" class="d-block w-100" alt="Image 2">
    </div>
    <div class="carousel-item">
      <img src="assets/img/ProjectImg/image3.jpg" class="d-block w-100" alt="Image 3">
    </div>
    <div class="carousel-item">
      <img src="assets\img\jokepek\IMG_1498.jpg" class="d-block w-100" alt="Image 4">-
    </div>
    <div class="carousel-item">
      <img src="assets/img/ProjectImg/image5.jpg" class="d-block w-100" alt="Image 5">
    </div>
    <div class="carousel-item">
      <img src="assets\img\jokepek\IMG_1501.jpg" class="d-block w-100" alt="Image 6">
    </div>
    <div class="carousel-item">
      <img src="assets\img\jokepek\IMG_6151[1].JPG" class="d-block w-100" alt="Image 7">
    </div>
    <div class="carousel-item">
      <img src="assets\img\jokepek\IMG_6233.jpg" class="d-block w-100" alt="Image 8">
    </div>
    <div class="carousel-item">
      <img src="assets/img/ProjectImg/image9.jpg" class="d-block w-100" alt="Image 9">
    </div>
    <div class="carousel-item">
      <img src="assets/img/ProjectImg/image10.jpg" class="d-block w-100" alt="Image 10">
    </div>
    <div class="carousel-item">
      <img src="assets\img\jokepek\IMG_1496.jpg" class="d-block w-100" alt="Image 11">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="tartalom">
  <p>Üdvözöljük a CMS (Car Merchants' Site) weboldalon, ahol az autókereskedés világát egy új perspektívából ismerheti meg! Célunk, hogy fiatalok és laikusok számára könnyen érthető és hasznos információkat nyújtsunk az autóvásárlás és -eladás folyamatáról, valamint segítséget kínáljunk a megfelelő döntések meghozatalában.</p>
  <br>
  <p>Weboldalunk nem csupán egy egyszerű hirdetési platform; itt a felhasználók különféle autók hirdetésére is lehetőséget kapnak. Fedezze fel az autópiac legújabb trendjeit, összehasonlítsa a különböző modelleket, és találja meg az ideális járművet, amely megfelel az igényeinek!</p>
  <br>
  <p>Továbbá, a CMS közösségi fóruma lehetőséget biztosít az autórajongók számára, hogy megosszák egymással tapasztalataikat, tanácsaikat és kérdéseiket. Legyen szó technikai részletekről, karbantartási tippekről vagy egyszerűen csak egy jó beszélgetésről, itt mindenki megtalálja a számítását.</p>
  <br>
  <p>Csatlakozzon hozzánk, és tapasztalja meg, milyen könnyű és élvezetes lehet az autókereskedés a CMS segítségével!</p>
</div>