/* General styles */
#hirdetesPanel {
  border: 0.3vw solid rgb(54, 54, 54);
  border-radius: 30px;
  width: 40%; /* Increased width */
  padding: 0.8vw 2.5vw 2vw 2.5vw;
  background-color: #3A4750;
  font-family: 'Montserrat', sans-serif;
  color: #EEEEEE;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
}

#hirdetesForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  width: 100%;
  margin-bottom: 15px;
}

.form-group label {
  align-self: flex-start; /* Align labels to the left */
  margin-bottom: 5px;
  font-weight: bold;
}

.hirdetesInputs {
  border-radius: 10px;
  border: #2d3a42 0.2vw solid;
  width: 100%; /* Increased width */
  height: 2vw;
  padding: 0.1vw;
  margin-bottom: 0.1vw;
}

textarea{
  border-radius: 10px;
  border: #2d3a42 0.2vw solid;
  width: 100%; 
  height: 5vw;
  padding: 0.1vw;
  margin-bottom: 0.1vw;
  min-height: 5vh;
}

#hirdetesTitle {
  max-width: 55%;
  margin: auto;
  padding-top: 1vw;
  position: relative;
  padding-bottom: 1vw;
  text-align: center;
}

#hirdetesSubmit {
  background-color: #00ADB5;
  color: #EEEEEE;
  border-radius: 30px;
  border: #00ADB5 0.2vw solid;
  width: 40%; /* Increased width */
  height: 2vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  align-self: center;
}

#hirdetesToLogin {
  margin-top: 1vw;
}

.error-message{
  color: red;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  #hirdetesPanel {
    width: 90%;
    padding: 2vw;
  }

  .hirdetesInputs {
    width: 80%;
    height: 5vw;
    padding: 1vw;
  }

  #hirdetesSubmit {
    width: 50%;
    height: 5vw;
  }

  #hirdetesToLogin {
    margin-top: 2vw;
  }
}

@media (max-width: 480px) {
  #hirdetesPanel {
    width: 95%;
    padding: 3vw;
  }

  .hirdetesInputs {
    width: 90%;
    height: 6vw;
    padding: 1.5vw;
  }

  #hirdetesSubmit {
    width: 60%;
    height: 6vw;
  }

  #hirdetesToLogin {
    margin-top: 3vw;
  }
}
