<footer>
    <ul>
        <li>
            Gamauf Marcell:
            <a href="https://www.instagram.com/_gamauf_marcell_/" target="_blank"><img src="\assets\img\—Pngtree—white instagram icon png instagram_3562066.png" alt="insta logo " ></a>
        </li>
        <li>
            Minden jog fenntartva © 2024
        </li>
        <li>
            Durányik Csaba:
            <a href="https://www.instagram.com/csabcsab26/" target="_blank"><img src="\assets\img\—Pngtree—white instagram icon png instagram_3562066.png" alt="insta logo " ></a>
        </li>
    </ul>
</footer>
