<footer>
    <div class="footer-content">
        <ul>
            <li>
                <span>Gamauf Marcell:</span>
                <a href="https://www.instagram.com/_gamauf_marcell_/" target="_blank">
                    <img src="\assets\img\—Pngtree—white instagram icon png instagram_3562066.png" alt="Instagram logo">
                </a>
            </li>
            <li>
                <span>Durányik Csaba:</span>
                <a href="https://www.instagram.com/csabcsab26/" target="_blank">
                    <img src="\assets\img\—Pngtree—white instagram icon png instagram_3562066.png" alt="Instagram logo">
                </a>
            </li>
            <li>
                <span>Minden jog fenntartva © 2024</span>
            </li>
            <li class="about-button">
                <a routerLink='rolunk'>Rólunk</a>
            </li>
        </ul>
    </div>
</footer>