<div class="container mt-4">
  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
    {{ errorMessage }}
  </div>
  <div *ngIf="loading" class="spinner-border" role="status">
    <span class="visually-hidden">Betöltés...</span>
  </div>
  <div class="row">
    <div class="col-md-4" *ngFor="let hirdetes of hirdetesek">
      <div class="card mb-4">
        <img *ngIf="hirdetes.kepek && hirdetes.kepek.length > 0" [src]="hirdetes.kepek[0].file_path" class="card-img-top" alt="Hirdetés kép" ngOptimizedImage>
        <div class="card-body">
          <h5 class="card-title">{{ hirdetes.marka }} {{ hirdetes.modell }}</h5>
          <p class="card-text" id="ar"><strong>Ár: </strong> {{ hirdetes.ar }} ft</p>
          <p class="card-text"><strong>Hengerűrtartalom:</strong> {{ hirdetes.hengerurtartalom }} cm³</p>
          <p class="card-text"><strong>Üzemanyag:</strong> {{ hirdetes.uzemanyag }}</p>
          <p class="card-text"><strong>Évjárat:</strong> {{ hirdetes.evjarat }}</p>
          <p class="card-text"><strong>Futott kilométer:</strong> {{ hirdetes.futott_kilometer }} km</p>
          <button class="btn btn-primary" (click)="viewHirdetesDetails(content, hirdetes.id)">Részletek</button>
        </div>
      </div>
    </div>
  </div>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h5 class="modal-title">{{ selectedHirdetes?.marka }} {{ selectedHirdetes?.modell }}</h5>
      <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
    </div>
    <div class="modal-body">
      <div *ngIf="selectedHirdetes">
        <p><strong>Ár:</strong> {{ selectedHirdetes.ar }} Ft</p>
        <p><strong>Hengerűrtartalom:</strong> {{ selectedHirdetes.hengerurtartalom }} cm³</p>
        <p><strong>Üzemanyag:</strong> {{ selectedHirdetes.uzemanyag }}</p>
        <p><strong>Évjárat:</strong> {{ selectedHirdetes.evjarat }}</p>
        <p><strong>Sebességváltó típusa:</strong> {{ selectedHirdetes.sebessegvalto_tipus }}</p>
        <p><strong>Futott kilométer:</strong> {{ selectedHirdetes.futott_kilometer }} km</p>
        <p><strong>Ajtók száma:</strong> {{ selectedHirdetes.ajtok_szama }}</p>
        <p><strong>Szín:</strong> {{ selectedHirdetes.szin }}</p>
        <p><strong>Kiegészítők:</strong> {{ selectedHirdetes.kiegeszitok }}</p>
        <p><strong>Baleseti előzmények:</strong> {{ selectedHirdetes.baleseti_elozmenyek }}</p>
        <p><strong>Műszaki vizsga érvényessége:</strong> {{ selectedHirdetes.muszaki_vizsga_ervenyes | date:'yyyy-MM-dd'}}</p>
        <p><strong>Leírás:</strong> {{ selectedHirdetes.adatok }}</p>
        <p><strong>Elérhetőség:</strong> {{ selectedHirdetes.ert_telszam }}</p>
        <div *ngFor="let kep of selectedHirdetes.kepek">
          <img [src]="'http://localhost:5000/' + kep.file_path" class="img-fluid" alt="Hirdetés kép" ngOptimizedImage>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="closeModal()">Bezárás</button>
    </div>
  </ng-template>