#registerPanel{
    border: 0.3vw solid rgb(54, 54, 54);
    border-radius: 30px;
    width: fit-content;
    padding: 0.8vw 2.5vw 2vw 2.5vw;
    background-color: #3A4750;
    color: #EEEEEE;
    font-family: cursive;
    margin: auto;
}

.registerInputs{
    border-radius: 30px;
    border: #2d3a42 0.2vw solid;
    width: 20vw;
    height: 2vw;
    padding: 0.3vw;
    margin-bottom: 0.5vw;
}

#regpanelTitle{
    max-width: 55%;
    margin: auto;
    position: relative;
    padding-bottom: 1vw;
}

#registerSubmit{
    background-color: #00ADB5;
    color: #EEEEEE;
    border-radius: 30px;
    border: #00ADB5 0.2vw solid;
    width: 10vw;
    height: 2vw;
    max-width: 55%;
    margin: auto;
    display: block;
    font-size: large;
    font-weight: bold;
}

#registerForm{
    margin: auto;
}